.workout-management-card {
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #f7f9fc;
}

.workout-management-card label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}

.ant-input {
  border-radius: 8px;
}

.workout-save-button {
  background-color: #1890ff;
  border-color: #1890ff;
  border-radius: 8px;
}

.workout-save-button:hover {
  background-color: #40a9ff;
  border-color: #40a9ff;
}

.workout-description-date-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}