.popup-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}


.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  max-height: 80vh; /* Prevents modal from being too tall */
  overflow-y: auto; /* Enables scroll if content is too tall */
}

/* Ensure the modal has the proper z-index and positioning */
.ant-modal {
  z-index: 1150; /* Ensure it's above other elements, like headers */
}

.workout-management-modal .ant-modal-content {
  top: 40%; /* Adjust the top position to ensure it is not hidden */
  position: absolute; /* Ensure it's positioned absolutely */
  transform: translateY(-20%); /* Center the modal vertically */
}

